.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.white {
    color: white;
}

a:link{color:blue}
a:active{color:blue}
a:visited{color:blue}
a:hover{color:blue}

.overlayed-text {
    display: grid;
}

.overlayed-text > p {
    grid-column: 1;
    grid-row: 1;
}

.hidden-behind {
    position: absolute;
    z-index: -520;
}

.unclickable-video {
  pointer-events: none;
}

.big-white-box {
    height: 600px;
    background-color: white;
}

.disappearing-button {
    transition: visibility 0s;
}

.disappearing-button:active {
    visibility: hidden;
}